[
    {
        "title": "Dashboard",
        "name": "dashboard",
        "icon": "dashboard:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "dashboard-index",
            "path": "index.js"
        },
        "autoloads": [
            "src/DashboardService.js"
        ],
        "autoloadsWc": [
            {
                "name": "dashboard-icons",
                "path": "element/icons/icons.js"
            }
        ]
    },
    {
        "title": "Demo",
        "name": "demo",
        "icon": "demo:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "demo-index",
            "path": "index.js"
        },
        "autoloads": [
            "src/DemoService.js"
        ],
        "autoloadsWc": [
            {
                "name": "demo-icons",
                "path": "element/icons/icons.js"
            }
        ]
    }
]